<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
        namespace="com.snut.cse.exchangers.user.mapper.UserMapper">

    <insert id="insertKakaoUser">
        INSERT INTO tbl_kakao_user(email, name)
        VALUES (#{email}, #{name})
    </insert>

    <select id="selectKakaoUser" resultType="KakaoUserDTO">
        SELECT *
        FROM tbl_kakao_user
        WHERE email=#{email}
    </select>

    <insert id="insertUser">
        INSERT INTO  tbl_user(email, password, name)
        VALUES (#{email}, #{password}, #{name})
    </insert>

    <select id="selectUser" resultType="UserDTO">
        SELECT *
        FROM tbl_user
        WHERE email=#{email}
    </select>

</mapper>